# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.venv

# VS Workspace
*.code-workspace

# Additional dev testing files
*-dev*
*.egg-info
dist/